@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html, body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #E374F9, #F8D8F8);
  background-repeat: none;
  color: white;
  font-family: Arial, sans-serif;
}
